**.DS_Store
**/.vagrant

bazel-*
.cache

.venv
.terraform.lock.hcl
terraform.tfstate

.ipynb_checkpoints
*/.ipynb_checkpoints/*

rust-project.json
MODULE.bazel.lock
.vscode/settings.json

compile_commands.json